body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    padding: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;

}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

input,
textarea,
button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

.cv {
    margin-top: 30px;
    border-top: 2px solid #ccc;
    padding-top: 20px;
}

.hidden {
    display: none;
}